* {
    margin: 0;
    box-sizing: border-box;
    color: white;
    padding: 5px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

svg {
    width: 35px;
    height: auto;
    fill: white;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff0c0c;
    width: 400px;
    height: 500px;
    margin: 50px auto;
    border-radius: 50px;
    padding: 15px;
}

button {
    width: 250px;
    height: 50px;
    background-color: #fff9f9;
    color: #080606;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

input {
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    color: #080606
}

.tabela-precos {
    display: grid;
    grid-template-columns: 100px 100px;
    gap: 10px;
}

.titulo {
    font-weight: bold;
}

#tempo {
    font-size: 14px;
}